page-about {
.content{


background-image: url("/assets/imgs/BackGround.png") ;


}
}

.AvaImg{
  
  background-image: url("/assets/imgs/BackGround1.png") !important;
 
  padding-left: 0px !important;
}


#map {
    width: 100%;
    height: 50%;
  }
  
  .badgeOri {
    text-align: center;
    background-color: #44853e;
  }
  
  .badgeDest {
    text-align: center;
    background-color: #f14736;
  }
ion-card-title{
  text-align: center !important;

}

  img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 200px !important;
    height: 200px !important;
    
}