page-about {
.content{

//background-color: rgb(253,173,63)  !important;
background-image: url("/assets/imgs/BackGround.png") ;


}
}
#map {
    width: 100%;
    height: 50%;
  }
  
  .badgeOri {
    text-align: center;
    background-color: #44853e;
  }
  
  .badgeDest {
    text-align: center;
    background-color: #f14736;
  }


  img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 200px !important;
    height: 200px !important;
}