


/* 
Title: about.scss


Purpose: Code creates how the page is formated


Additions that still need to be made: A way to make it look more professional and not very basic and still keep the app easy to use. 


Input:
   None:

Output:
    Lawyers profile :
        The view of the lawyers profile .
        View of the map of current location.
*/



page-about {
.content{


background-image: url("../assets/imgs/BackGround.png") ;

width: 100%;


}

//How the their profile avitar will lool in size
.AvaImg{
  
  background-image: url("/assets/imgs/BackGround1.png") !important;
  width: 350px;
  height: 30%;
  margin-left: 10px;
  padding: 0px;
}


// Shows the map in a square 

#map {
    width: 94%;
    margin-left: 10px;
    height: 50%;
  }
  
  .badgeOri {
    text-align: center;
    margin-left: 10px;
    background-color: blue;
  }
  
  .badgeDest {
    text-align: center;
    background-color: #f14736;
  }


  
//Shows all content without scrolling on the device
ion-card
{
  
  height: 43%;
  padding-bottom: 0px;

}


ion-avatar img  
{
width:100% !important;
height : 100% !important;
max-width: 70px !important;  //any size
max-height: 500px !important; //any size
}
}
