

//The Background Of the Sign up page

page-lawyer-sign-up  {
.content{

//background-color: rgb(253,173,63)  !important;
background-image: url("/assets/imgs/BackGround.png") ;


}



//Makes the Tittle be in the center






//Sets image in the middle

img {
	display: block !important;
	margin-left: auto !important;
    margin-right: auto !important;
    
}


ion-datetime{
	

backgorund: red !important;

}

ion-title{
	


	
}




}
