
//The Background Of the Sign up page

page-home {
.content{


background-image: url("/assets/imgs/BackGround.png") ;


}








//Sets image in the middle

img {
	display: block !important;
	margin-left: auto !important;
    margin-right: auto !important;
    
}


ion-datetime{
	

backgorund: red !important;



}
}








   
