page-client-display {
.content{

//background-color: rgb(253,173,63)  !important;
background-image: url("../assets/imgs/BackGround.png") ;


}}




h2 {
	

	text-align: center !important;
}



#Emergency
{
	background-color: red !important;
	color: black !important;
 	position: absolute !important;
 	left: 220px ;



}

ion-item-sliding 
{
	

		
        
        border-radius: 20px;
        margin-bottom: 1px;  
        background-color: blue !important;

}

#map {
    width: 94%;
    margin-left: 10px;
    height: 50%;
  }
  
  .badgeOri {
    text-align: center;
    margin-left: 10px;
    background-color: blue;
  }
  
  .badgeDest {
    text-align: center;
    background-color: #f14736;
  }
