<!--
Title: client-display.html



Purpose: This code is for the html page of the client-display: The users needing the app will see this page after they choosen that they are users and not a lawyer. The page will have basic functions as slide to call and inputing distance. They will be able to see all the available lawyers that are ready to help them incase an emergency. 

Input:
    Distance in filter: If they need a lawyer closer or farther away for easier access. 

Output:
    Success:
        Lawyers will be shown depending if thye are available or not. First and Last name will be shown and an image of the lawyer.
        map: A map with the currently location will be shown incase a easier access is needed. 
        filter: They can enter a distance to show lawyers within that radious 
    Failure:
        We cant make a video call when sliding to call, right now all we can do is slide to make a phone call. 
-->




<!--

  The content is seperated in segments that act as tabs. That will seperate each page.
  LawyersOption: Lawyers will be shown in this tab aswell as the map showing current location 
  FilterOption: The distance will show here and will grab the value of what they desire.

  -->
 
<ion-header style="background-color: inherit;">
  
  <ion-toolbar color="dark" style="background-color: inherit;" no-border-top>
    <ion-segment [(ngModel)]="Option" >
      <ion-segment-button  value="LawyersOption"> <ion-icon name="man"></ion-icon>
        Lawyers
      </ion-segment-button>
      <ion-segment-button value="FilterOption"><ion-icon name="compass"></ion-icon>
        Filter
      </ion-segment-button>
     <!-- <ion-segment-button  value="ProfileOption"><ion-icon name="contact"></ion-icon>
        Profile
      </ion-segment-button> -->
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="Option">
    <ion-list id="Size" *ngSwitchCase="'LawyersOption'">



 

 



  

<!--

  Depending on the information on th database. the once we called from this.AllMyInfo = firedatab.list(`/lawprofileAvailable`);

  it will loop through all data and make sliding ion-items:

  When the loop is checkng one at a time, it will also have a condition where it takes the distance the user prefers from the filter option. If the distance is within the users and lawyers location then it would proceded to create the ion-item.
  -->
 

    <ion-list >
    <ng-container *ngFor=" let items of AllMyInfo  "  >
     
       
<!-- Calls the filter option by sending the data being called from the database and the filter distance from the filter tab value -->
       <div *ngIf="FiltertheLawyers(Distancebylocation(items.lat1,items.lng1))" >
  <ion-item-sliding  style="background-color: inherit;">
  

<!-- Calls information from the data by recalling it from the same class we made in profile.ts -->
    <ion-item  style="background-color: grey;">
      <ion-avatar item-start>
        <img src="assets/imgs/ExampleLawyer.jpeg">
      </ion-avatar>
      <h2>{{items.Firstname}} {{items.Lastname}}</h2>
      <p style="color: black;">{{items.Info}}</p>
    </ion-item>

    <ion-item-options side="right">
     
      <!-- The phone number provided will be sent to the call the phone parameter if avaialbe-->
      <button  ion-button color="danger" (click)="CallThePhone(items.PhoneNumber)" ><ion-icon name="call"></ion-icon> Call</button>

      </ion-item-options>

  </ion-item-sliding>
</div>
    

</ng-container>

</ion-list>


</ion-list>











     
    
        

   
<!--
 Here in the Filter Option: They will be able to choose a value of distance preffered.

-->

   

    <ion-list  *ngSwitchCase="'FilterOption'">
      <ng-container >
              <ion-item   style="background-color: inherit;">
                <ion-label >Distance</ion-label>
                <ion-select  [(ngModel)]="DistanceHolders.DistanceWanted"  >
                  <ion-option [value]="1">1</ion-option>
                 <ion-option [value]="10">10</ion-option>
                  <ion-option [value]="15">15</ion-option>
                  <ion-option [value]="All">All</ion-option>
                  
                </ion-select>
              </ion-item>
              </ng-container>
             
            </ion-list>

   
  </div>
<!-- The Map will be shown at the bottom of the page -->
  <ion-row>
          <div>
            <ion-badge class="badgeOri">Your Location </ion-badge>
          </div>
          <div>
            <ion-badge class="badgeDest">Places</ion-badge>
          </div>
      </ion-row>
      <div id="map"></div>
</ion-content>
<script>
</script>
