page-client-display {
.content{

//background-color: rgb(253,173,63)  !important;
background-image: url("/assets/imgs/BackGround.png") ;


}}


ion-n {
background-image: url("/assets/imgs/BackGround.png") ;
text-align: center;
}


