
/* 
Title: lawyer-sign-up.scss


Purpose: Code creates how the page is formated


Additions that still need to be made: A way to make it look more professional and not very basic and still keep the app easy to use. 


Input:
   None:

Output:
    Lawyers avaialble :
        The view of the lawyers available.
        View of the map of current location.
*/



/* Keeps the background for the entire page */
page-client-display {
.content{


background-image: url("../assets/imgs/BackGround.png") ;


}}




h2 {
	

	text-align: center !important;
}


/* Format of the button: The button will be shown in red to indicate an emergency*/
#Emergency
{
	background-color: red !important;
	color: black !important;
 	position: absolute !important;
 	left: 220px ;



}


/* THe sliding items will have a rounded look to give it a better look */

ion-item-sliding 
{
	
  border-radius: 20px;
  margin-bottom: 1px;  
  background-color: brown !important;

}


/* Displays the map on the page */
#map {
    width: 94%;
    margin-left: 10px;
    height: 50%;
  }
  
  .badgeOri {
    text-align: center;
    margin-left: 10px;
    background-color: blue;
  }
  
  .badgeDest {
    text-align: center;
    background-color: #f14736;
  }
